In [2]:
"""
날짜 : 2023/01/13
이름 : 황원진
내용 : 파이썬 데이터베이스 프로그래밍 실습
"""
import pymysql

In [3]:
#insert 실습
#데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                user='root', 
                passwd='1234', 
                db='java2db', 
                charset='UTF8')

# SQL  실행객체
cur = conn.cursor()

#SQL 실행
sql = "insert into `user3` values ('x101','홍홍홍','010-1352-9985',12)"
cur.execute(sql)
conn.commit()

#SQL 종료
conn.close()
print('insert 완료....')
print('insert 완료....')

insert 완료....

In [7]:
#update 실습
#데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                user='root', 
                passwd='1234', 
                db='java2db', 
                charset='utf8')

# SQL  실행객체
cur = conn.cursor()

#SQL 실행
sql = "update `user3` set "
sql += "`name`='홍홍홍',"
sql += "`hp`='010-9958-5547',"
sql += "`age`=22 "
sql += "where `uid`='x101'"

cur.execute(sql)
conn.commit()

#SQL 종료
conn.close()
print('update 완료....')

insert 완료....

In [9]:
#delete 실습
#데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                user='root', 
                passwd='1234', 
                db='java2db', 
                charset='utf8')

# SQL  실행객체
cur = conn.cursor()

#SQL 실행
cur.execute("delete from `user3` where `uid`='x101'")
conn.commit()

#SQL 종료
conn.close()
print('delete 완료....')

delete 완료....

In [14]:
#select 실습
from sub.User3VO import User3VO

#데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                user='root',
                passwd='1234',
                db='java2db',
                charset='utf8')

# SQL  실행객체
cur = conn.cursor()

# SQL 실행
cur.execute("select * from `user3`")
conn.commit()

# 결과 출력
users = []
for row in cur.fetchall():
    user = User3VO(row[0], row[1], row[2], row[3])
    users.append(user)

# 데이터베이스 종료
conn.close()
print('select 종료....')

#결과 출력
for user in users:
    print('---------')
    print('아이디 : ', user.uid)
    print('이름 : ', user.name)
    print('휴대폰 : ', user.hp)
    print('나이 : ', user.age)

select 종료....
---------
아이디 :  a102
이름 :  김춘추
휴대폰 :  010-1234-1002
나이 :  23
---------
아이디 :  a103
이름 :  장보고
휴대폰 :  010-1234-1003
나이 :  33
---------
아이디 :  a104
이름 :  강감찬
휴대폰 :  010-1234-1004
나이 :  48